body {
    padding: 0;
    margin:  0;
}

header {
    background-color: #1d1d1d;
    color: white;
    box-shadow: 0px 3px 5px white;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 10px;
}

nav ul a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    padding: 10px 0;
}

.content {
    display: flex;
    justify-content: center;
}

.quizz {
    background-color: grey;
    padding: 10px;
    width: 350px;
    border-radius: 5px;
}

.quizz h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.question {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.question img {
    width: 16px;
}

.timer img {
    width: 16px;
}

.timer span {
    font-weight: bold;
}

.timer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.timer img {
    width: 16px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}